<div id="<%= dom_id score %>">
  <div data-controller="score">
    <div data-score-target="title" class="d-none"><%= score.title %></div>
    <div data-score-target="scoreCode" class="d-none"><%= score.score_code %></div>
    <div id="scoreContainer"></div>
  </div>
</div>
