<div id="<%= dom_id score %>">
  <p>
    <strong>Id:</strong>
    <%= score.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= score.title %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= score.is_public %>
  </p>

</div>
