.color-picker {
  $width: 320px;
  $gap: 8px;
  $color: 7;

  %circle-style {
    display: block;
    border-radius: 50%;
    width: calc(($width - $gap * $color) / $color);
    height: calc(($width - $gap * $color) / $color);
    cursor: pointer;
    &:hover {
      border: solid 2px blue;
    }
  }

  box-sizing: border-box;
  margin: 12px;
  border: solid 1px;
  padding: 12px;
  display: inline-block;
  ul {
    display: flex;
    width: $width;
    flex-wrap: wrap;
    gap: $gap;
    list-style: none;
    margin: 0;
    padding: 0;
    li > span.black {
      @extend %circle-style;
      background-color: #555555;
    }
    li > span.red {
      @extend %circle-style;
      background-color: #C7243A;
    }
    li > span.yellow {
      @extend %circle-style;
      background-color: #EDAD0B;
    }
    li > span.light-green {
      @extend %circle-style;
      background-color: #A4C520;
    }
    li > span.green {
      @extend %circle-style;
      background-color: #009250;
    }
    li > span.blue {
      @extend %circle-style;
      background-color: #007FB1;
    }
    li > span.violet {
      @extend %circle-style;
      background-color: #5D639E;
    }
  }
}
