@page {
  margin: 10mm;
  size: A4;
}

@media print {
  body {
    width: 1320px;
    zoom: 0.8;
  }
  .no-print {
    display: none;
  }
  .print-target {
    display: flex;
    justify-content: center;
  }
}
