- set_meta_tags(title: '指板図作成', canonical: 'https://guitar-scale-sketch.com/fingerings/new', description: 'Guitar Scale Sketchの指板図作成ページです。')
.fingering-container
  .container.d-none.d-lg-block.d-print-inline
    h1.d-print-none.fs-4
      | 指板図をつくる
    = render 'form', fingering: @fingering
  .container.d-block.d-lg-none.d-print-none
    h1.text-center
      | PCでご利用ください🙏
    p
      | Guitar Scale Sketch は現在のところPCのみ(横幅992px以上のディスプレイ)に対応しています。
